.header {
    background-color: #deadc6;
    padding-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.header__left {
    width: 200px;
    background-color: #2de72d;
}

.header__right {
    background-color: #1818d4;
}

.feature {
    background-color: #deadc6;
}


.feature__left {
    flex: 0 0 50%;
    background: royalblue url("img/iMac.png") 50%/contain no-repeat;
url('img/Video_bg.jpg') 0 0 / cover no-repeat;
}

/*.feature__left {*/
/*    !*height: 500px;*!*/
/*    flex: 0 0 50%;*/
/*    !*background: url('img/iMac.png') 0 0 / cover no-repeat;*!*/
/*    !*background-image: url('img/iMac.png') cover;*!*/
/*    background:url("img/iMac.png") no-repeat center, url('img/fon.png') 0 0/cover no-repeat;*/
/*    !*background-clip: ;*!*/
/*    !*background-size: cover;*!*/
/*    !*background-image: url("img/iMac.png") ;*!*/
/*    !*transition-duration: 5s;*!*/
/*}*/

img {
    max-width: 100%;
}

.feature__right {
    padding: 50px;
    background-color: red;
}

.feature__right p {
    margin: 0;
}

.feature__left:hover {
    transition-duration: 10s;
    background: url('img/Video_bg.jpg') 0 50%/cover no-repeat;
}

/*.feature__left:hover {*/
/*    transition-duration: 1s;*/
/*    background:transparent;*/
/*    !*background-clip: url('img/fon.png') ;*!*/
/*}*/

@media screen and (max-width: 800px) {
    .header {
        position: sticky;
        top: 0;
    }

    .d-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature__left {
        flex: 0 0 100%;
        height: 250px;
    }
}